<div class="container ">
    <div class="row box ">
        <div class="col-md-6 ">
            <div class="first ">
                <p>Hello Everyone!</p>
                <h1> I'm  <span class="mov"> </span></h1>
                <p>I use animation as a third dimension by which to simplify experiences and kuiding thro each and
                    every interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
                </p>
                <form class="d-flex" action="#">
                    <input class="input-sybscriber" type="text" placeholder="Type your email address">
                    <button class="btn btn-linear btn-arrow-right">Subscribe<i
                            class="fi-rr-arrow-small-right"></i></button>
                </form>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="second ">
                <div class="banner-img position-relative  animate__animated animate__fadeIn"
                    style="visibility: visible; animation-name: fadeIn;"><img src="..//..//../assets/images/banner.png" alt="Genz">
                    <div class="pattern-1 animate__animated animate__rotateIn"><img src="..//..//../assets/images/pattern-1.svg"
                            alt="Genz"></div>
                    <div class="pattern-2"><img src="..//..//../assets/images/pattern-2.svg" alt="Genz"></div>
                    <div class="pattern-3"><img src="..//..//../assets/images/pattern-3.svg" alt="Genz"></div>
                    <div class="pattern-4"><img src="..//..//../assets/images/pattern-4.svg" alt="Genz"></div>
                </div>
            </div>
        </div>
    </div>
</div>
