<div class="text">
    <h2>Editor's picked </h2>
    <p>Featured and highly rated articles </p>

</div>


<div class="row display">
    <div class="col-lg-6  animated__ animated fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
        <div class="card-blog-1 hover-up">
            <div class="card-image mb-20">
                <img src="..//..//../assets/images/news2.png" alt="Genz">
            </div>
            <div class="card-info">
                <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm"> #Travel</a><a
                            class="color-gray-700 text-sm"> #Lifestyle</a>
                    </div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span>
                    </div>
                </div>
                <h4 class="color-white mt-20"> Self-observation is the first step of inner unfolding</h4>

                <div class="row align-items-center mt-25">
                    <div class="col-7">
                        <div class="box-author"><img src="..//..//../assets/images/author.png" alt="Genz">
                            <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 Nov
                                    2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm"><span>Read
                                more</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6  animated__ animated fadeIn animated" data-wow-delay=".3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <div class="card-blog-1 hover-up">
            <div class="card-image mb-20"><a class="post-type"></a><a><img src="..//..//../assets/images/news1.png" alt="Genz"></a>
            </div>
            <div class="card-info">
                <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm"> #Design</a><a
                            class="color-gray-700 text-sm"> #Movie</a>
                    </div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 mins read</span>
                    </div>
                </div>
                <h4 class="color-white mt-20"> Self-observation is the first step of inner unfolding</h4>

                <div class="row align-items-center mt-25">
                    <div class="col-7">
                        <div class="box-author"><img src="..//..//../assets/images/author2.png" alt="Genz">
                            <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">27 Sep
                                    2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm"><span>Read
                                more</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4  animated__ animated fadeIn animated" data-wow-delay=".1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
        <div class="card-blog-1 hover-up">
            <div class="card-image mb-20"><a class="post-type"></a><a><img src="..//..//../assets/images/news3.png" alt="Genz"></a>
            </div>
            <div class="card-info">
                <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm"> #Design</a><a
                            class="color-gray-700 text-sm"> #Movie</a>
                    </div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 mins read</span>
                    </div>
                </div><a href="single-sidebar.html">
                    <h5 class="color-white mt-20"> Self-observation is the first step of inner unfolding</h5>
                </a>
                <div class="row align-items-center mt-25">
                    <div class="col-7">
                        <div class="box-author"><img src="..//..//../assets/images/author3.png" alt="Genz">
                            <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">27 Sep
                                    2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm"><span>Read
                                more</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 wow animated__ animated fadeIn animated" data-wow-delay=".3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <div class="card-blog-1 hover-up">
            <div class="card-image mb-20"><a class="post-type"></a><a><img src="..//..//../assets/images/news4.png" alt="Genz"></a>
            </div>
            <div class="card-info">
                <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm"> #Design</a><a
                            class="color-gray-700 text-sm"> #Movie</a>
                    </div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 mins read</span>
                    </div>
                </div>
                <h5 class="color-white mt-20"> Self-observation is the first step of inner unfolding</h5>

                <div class="row align-items-center mt-25">
                    <div class="col-7">
                        <div class="box-author"><img src="..//..//../assets/images/author4.png" alt="Genz">
                            <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">27 Sep
                                    2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm"><span>Read
                                more</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 wow animate__ animate__fadeIn animated" data-wow-delay=".5s"
        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        <div class="card-blog-1 hover-up">
            <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a>
                <img src="..//..//../assets/images/news5.png" alt="Genz">
            </div>
            <div class="card-info">
                <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm"> #Design</a><a
                            class="color-gray-700 text-sm"> #Movie</a>
                    </div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 mins read</span>
                    </div>
                </div>
                <h5 class="color-white mt-20"> Self-observation is the first step of inner unfolding</h5>

                <div class="row align-items-center mt-25">
                    <div class="col-7">
                        <div class="box-author"><img src="..//..//../assets/images/author5.png" alt="Genz">
                            <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">27 Sep
                                    2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm"><span>Read
                                more</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center mb-50">
    <a class="btn btn-linear btn-load-more  animated__ animated zoomIn animated"
        style="visibility: visible; animation-name: zoomIn;">
        Show More Posts
        <i class="fas fa-arrow-right"></i>
        </a>
</div>
